<!DOCTYPE html>
<html>
    <head>
        <title>PO Tracker - MANEPO</title>
        <meta charset = "utf-8">
        <meta name = "description" content="Manepo adalah one stop solution untuk seluruh keperluan dokumen yang merepotkan">
        <meta name = "keywords" content="html, css, ejs, javascript, node js, express, mysql, crud">
        <meta name = "author" content="gadev">
        <meta name = "application-name" content="MANEPO">
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="/css/display-style.css"> <!--css reguler-->
        <link rel="styleshee" href="#"> <!--css responsive-->
        <script src="https://kit.fontawesome.com/80167f1830.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "display-wrapper">
            <div class = "top-section">
                <div class = "left-top">
                    <form id = "search-bar" action = "#" method="POST">
                        <span><button type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button></span>
                        <input type="text" placeholder="Search...." name="search">
                    </form>
                </div>
                <div class = "right-top">
                    <div class = "home-button">
                        <a id = "back-to-home" href="/"><i class="fa-solid fa-house fa-2xl"></i></a>
                    </div>
                </div>
            </div>
            <div class = "bottom-section"></div>
            <div class = "table-section">
                <div class = "top-table">
                    <div class = "left-top-table">
                        <ul>
                            <li>All Documents</li>
                            <li>Delivered</li>
                            <li>Undelivered</li>
                            <li>Cancel</li>
                        </ul>
                    </div>
                    <div class = "right-top-table">
                        <a id = "add-po-btn" href = "/inputpo"><i class="fa-solid fa-plus">Add PO</i></a>
                    </div>
                </div>
                <div class = "bottom-table">
                    <table>
                        <tr>
                            <th>No Kontrak</th>
                            <th>Nama Customer</th>
                            <th>CMO</th>
                            <th>Dealer</th>
                            <th>Status PO</th>
                            <th>Tgl Cetak PO</th>
                            <th>Tgl Ambil PO</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% listpo.forEach((list)=>{ %>
                        <tr>
                            <td><%= list.agreement %></td>
                            <td><%= list.customer_name %></td>
                            <td><%= list.cmo %></td>
                            <td><%= list.dealer %></td>
                            <td><%= list.status_po %></td>
                            <td><%= list.tgl_cetak_po %></td>
                            <td><%= list.tgl_ambil_po %></td>
                            <td>
                                <form action="/deletepo/<%=list.po_id%>" method="post">
                                    <input type="submit" name="delete" value="DELETE">
                                </form>
                            </td>
                            <td>
                                <a href="/editpo/<%=list.po_id%>" id = "edit-btn">EDIT</a>
                            </td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
            </div>    
        </div>
    </body>
</html>